<section id="about" class="">
	<p>
		Welcome! My name is Alex. I'm a web developer based in Brooklyn, NY. I spent my early years in New Jersey and Tokyo, Japan. After that, I attended Oberlin College in Ohio. In those four years I met some wonderful people, captained the Track & Field team, studied Japanese language and modern history, and discovered my love for Computer Science. Upon graduating I moved to New York City to spend time with my family. I then taught myself web development and got a job as a developer.
	</p>
	<p>
		If you'd like to get in touch, go ahead and send me an <a class="email-link" href="mailto:alexqguo@gmail.com">email!</a>
	</p>
</section>
