<title>Alex Guo</title>
<meta charset="utf-8">
<meta name="description" content="This is a small site about me.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel='stylesheet' href='/stylesheets/home.css'>
<link rel='shortcut icon' href='/images/favicon.png'>
