<section id="info" class="">
		<ul class="std-list">
			<li class="std-list-item">
				Education
				<span class="subtext">
					Oberlin College, 2013<br>
					<span class="subsubtext">
						GPA: 3.66<br>
						East Asian Studies (Japanese), Computer Science
					</span>
				</span>
			</li>
			<li class="std-list-item">
				Activities
				<span class="subtext">
					Central Park Track Club
					<span class="subsubtext">
						Dedicate approximately 20 hours weekly to practice and competition while in season. Attend club charity events and benefits.
					</span>
				</span>
				<span class="subtext">
					Oberlin College Track and Field
					<span class="subsubtext">
						Team Captain (2011-2013)<br>
						Broke Oberlin College’s outdoor triple jump record that had stood since 1975. North Coast Athletic Conference Athlete of the Year in 2012. Oberlin College Athlete of the Year in 2013.
					</span>
				</span>
			</li>
			<li class="std-list-item">
				Honors/Awards

				<span class="subtext">
					North Coast Athletic Conference 2004-2013 All-Decade Team
					<span class="subsubtext">
						Voted the top Triple Jumper in the NCAC between 2004 and 2013.
					</span>
				</span>

				<span class="subtext">
					Lysle K. Butler Award
					<span class="subsubtext">
						Presented to the male athlete at Oberlin College who has demonstrated outstanding athletic achievements as well as leadership skills, and academic excellence.
					</span>
				</span>

				<span class="subtext">
					USTFCCCA Academic All-American
					<span class="subsubtext">
						For ﬁnishing the NCAA regular season ranked 17th nationally in the 
						triple jump with a cumulative GPA above 3.30.
					</span>
				</span>

			</li>
			<li class="std-list-item">
				Languages
				<span class="subtext">English: Native</span>
				<span class="subtext">Japanese: Business proficient</span>
				<span class="subtext">Chinese: Intermediate</span>
			</li>
			<li class="std-list-item">
				Hobbies/Interests/Misc.
				<span class="subtext">
					Exercising, track and field, technology, data visualization, playing music, traveling, enjoying life!
				</span>
			</li>
		<!--<li class="std-list-item">
				<a href="/resume.pdf">PDF Version</a>
			</li>-->
		</ul>
	</section>