<section id="links" class="">
	<ul class="std-list">
		<li class="std-list-item">
			<a href="http://github.com/alexqguo">Github</a>	
		</li>
		<li class="std-list-item">
			<a href="http://linkedin.com/in/alexqguo">LinkedIn</a>	
		</li>
		<li class="std-list-item">
			<a href="http://twitter.com/alexqguo">Twitter</a>	
		</li>
		<li class="std-list-item">
			<a href="http://instagram.com/alexqguo">Instagram</a>	
		</li>
	</ul>
</section>