<section id="other" class="hide">
	<ul class="std-list">
		<li class="std-list-item">
			Triple Jump Visualization
			<span class="subtext">
				I've been a triple jumper since college, and recently I was bored and decided to make a list of all my triple jump competitions ever and the results from them, starting all the way back in 2010. Here's a chart about it:
                <div class="chart-container"><canvas id="tjChart" width="4" height="3"></canvas></div>
                <span class="subsubtext">(09/03/2016)</span>
			</span>
		</li>

		<li class="std-list-item">
			More to come!
		</li>
	</ul>
</section>
