<section id="projects" class="hide">
	<ul class="std-list">
		<li class="std-list-item">
			Oberlin College Track & Field Website
			(<a href="http://github.com/alexqguo/octf">source</a> | 
			<a href="http://octf.alexguo.us">live</a>)
			<span class="subtext">
				This is a small side project that I tinker with every now and then. It is a simple data scraping and visualization app with a Rails/PostgreSQL backend using Highcharts for the graphing. All data is scraped from TFRRS.org (Track and Field Results and Reporting System) and performed with Nokogiri. Once the data is parsed and stored to the DB, I have a backend API that formats everything into a nice JSON object that Highcharts can read easily. In the admin section of the site, I use unobtrusive Javascript to add, edit, and delete marks for athletes. Recently, I've implemented the gem youtube_it to interact with Youtube's API and started making the site responsive.
			</span>
		</li>
		<li class="std-list-item">
			More to come!
		</li>
	</ul>
</section>