<div id="navbar">
	<div class="navbar-content">
		<h3>Links</h3>
	</div>

	<ul class="navbar-list">
		<li class="navbar-list-item github-button">
			<a href="http://github.com/alexqguo"></a>
		</li>
		<li class="navbar-list-item linkedin-button">
			<a href="http://linkedin.com/in/alexqguo"></a>
		</li>
		<li class="navbar-list-item instagram-button">
			<a href="http://instagram.com/alexqguo"></a>
		</li>
		<li class="navbar-list-item twitter-button">
			<a href="http://twitter.com/alexqguo"></a>
		</li>
		<li class="navbar-list-item trie-button">
			<a href="http://visual-trie.alexguo.us"></a>
		</li>
		<li class="navbar-list-item octf-button">
			<a href="http://octf.alexguo.us"></a>
		</li>
		<li class="navbar-list-item meetup-button">
			<a href="http://meetup-lite.alexguo.us"></a>
		</li>
		<li class="navbar-list-item resume-button">
			<a href="/resume.pdf"></a>
		</li>
	</ul>
</div>