<!DOCTYPE html>
<html>
	<head>
        <%- include partials/head.ejs %>
	</head>
	<body>
		<div id="nav" class="">
		  	<div class="navwrap">
				<h1 class="my-name">
					<a href="/">Alex Guo</a>
				</h1>

				<div class="iconlist">
					<a target="_blank" rel="noopener noreferrer" href="http://linkedin.com/in/alexqguo">
						<img src="/images/linkedin.png">
					</a>
					<a target="_blank" rel="noopener noreferrer" href="http://twitter.com/alexqguo">
						<img src="/images/twitter.png">
					</a>
					<a target="_blank" rel="noopener noreferrer" href="http://instagram.com/alexqguo">
						<img src="/images/instagram.png">
					</a>
					<a target="_blank" rel="noopener noreferrer" href="http://github.com/alexqguo">
						<img src="/images/github.png">
					</a>
				</div>

				<ul class="navlist">
					<li class="navlist-item">
						<a href="" class="navlink" data-tab="about">About Me</a>
					</li>
					<li class="navlist-item">
						<a href="" class="navlink" data-tab="info">Basic Info</a>
					</li>
					<li class="navlist-item">
						<a href="" class="navlink" data-tab="other">Updates</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="slider"></div>

		<div id="main" class="">
			<%- include partials/about.ejs %>
			<%- include partials/info.ejs %>
			<%- include partials/other.ejs %>
		</div>

		<script src="/javascripts/home.js"></script>
        <script src="/javascripts/chart.bundle.min.js"></script>
        <script src="/javascripts/myCharts.js"></script>
	</body>
</html>
