<!DOCTYPE html>
<html>
	<head>
	<title>Alex Guo</title>
		<link rel='stylesheet' href='/stylesheets/home.css'>
		<link rel='shortcut icon' href='/images/favicon.png'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div id="nav" class="">
		  	<div class="navwrap">
				<h1 class="my-name">
					<a href="/">Alex Guo</a>
				</h1>

				<div class="iconlist">
					<a href="http://linkedin.com/in/alexqguo">
						<img src="/images/linkedin.png">
					</a>
					<a href="http://twitter.com/alexqguo">
						<img src="/images/twitter.png">
					</a>
					<a href="http://instagram.com/alexqguo">
						<img src="/images/instagram.png">
					</a>
					<a href="http://github.com/alexqguo">
						<img src="/images/github.png">
					</a>
				</div>

				<ul class="navlist">
					<li class="navlist-item">
						<a href="" class="navlink" data-tab="about">About Me</a>
					</li>
					<li class="navlist-item">
						<a href="" class="navlink" data-tab="info">Basic Info</a>
					</li>
					<li class="navlist-item">
						<a href="" class="navlink" data-tab="projects">Projects</a>
					</li>
				</ul>
			</div>
		</div>
			
		<div id="slider"></div>

		<div id="main" class="">
			<%- include partials/about.ejs %>
			<%- include partials/info.ejs %>
			<%- include partials/projects.ejs %>
		</div>

		<script src='/javascripts/home.js'></script>
	</body>
</html>