html, body, h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: Helvetica Neue, Arial, sans-serif; }

p {
  margin-bottom: 20px; }

a {
  color: navy;
  text-decoration: none; }

ul {
  list-style-type: none; }

#main {
  padding: 40px 70px 0;
  color: #555; }

#nav {
  padding: 40px 0;
  background-color: navy;
  color: white;
  font-weight: 400;
  width: 100%;
  z-index: 1; }

.navwrap {
  position: relative;
  padding: 0 70px; }

.iconlist {
  position: absolute; }

.iconlist img {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.iconlist img:hover {
  opacity: 1; }

#nav a {
  color: white; }

#slider {
  position: absolute;
  background-color: navy;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

#slider.hidden {
  height: 0px; }

h1.my-name {
  font-size: 48px;
  margin-right: 30px;
  display: inline-block; }

.navlist {
  display: inline-block;
  margin-bottom: -3px;
  margin-top: 20px; }

.navlist-item {
  float: left;
  margin-top: 10px;
  margin-right: 12px; }

.navlist-item a {
  margin-right: 10px;
  opacity: 0.7;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navlist-item a:hover {
  opacity: 1; }

.std-list-item {
  margin-bottom: 20px; }

.subtext {
  display: block;
  font-size: 14px;
  margin: 10px; }

.subsubtext {
  display: block;
  font-size: 13px;
  margin: 10px; }

.font-normal {
  font-weight: 400; }

.chart-container {
  max-width: 700px; }

.group:after {
  clear: both;
  content: "";
  display: block; }

.hide {
  display: none; }
